<footer class="block block--dark footer">
    <div class="container grid footer--sections">
        <section class="collapsible collapsible--expanded footer--sections">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer--heading">item 1</h2>
                
                    <svg class="icon icon--primary collapsible__chevron" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                
            </header>
            <div class="collapsible__content">
               <ul class="list">
                <li> <a href="#">website</a></li>
                <li> <a href="#">free</a></li>
                <li> <a href="#">migrate</a></li>
               </ul>
            </div>
        </section> 
        <section class="collapsible footer--sections">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer--heading">item 2</h2>
                
                    <svg class="icon icon--primary collapsible__chevron" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                
            </header>
            <div class="collapsible__content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, rerum?
            </div>
        </section> 
        <section class="collapsible footer--sections">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer--heading">item 3</h2>
                
                    <svg class="icon icon--primary collapsible__chevron" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                      </svg>
                
            </header>
            <div class="collapsible__content">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, rerum?
            </div>
        </section> 
        <section class="footer--brand">
            <img src="images/logo.svg" alt="">
            <p class="footer--copyright">copyright-2020</p>
        </section>
    </div>      
</footer>
<script src="js/main.js"></script> 