<section class="block block--dark block--skewed-right hero">
    <div class="container grid grid--1x2">
        <header class="block--header hero--content">
            <h1 class="block__heading">cloud hosting</h1>
            <p class="hero__tagline">deploy your website</p>
            <a href="" class="btn btn--accent btn--streched">get started</a>
        </header>
    <picture>
        <source type="images/webp" src="images/bannerwebp.webp">
        <img class="hero--image" src="images/banner.png" alt="">
    </picture>
    </div>
</section>