<section class=" block block--dark block--skewed-right block-showcase">
    <header class="block--header">
        <h2>user-friendly control panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <picture class="showcase--image">
            <img src="images/ipad.png" alt="">
        </picture>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#snap"></use>
                  </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title">easy start & managed update</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, natus!</p>
            </div>
        </div>
        
    </div>
</section>